Source: xivo-upgrade
Section: admin
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://wiki.xivo.fr
#Vcs-Git: git://git.xivo.fr/official/xivo-upgrade.git

Package: xivo-upgrade
Architecture: any
Depends: ${misc:Depends}, monit
Description: XiVO upgrade tools
 This package provide XiVO upgrading tools
