Source: xivo-upgrade
Section: admin
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.fr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://xivo.fr/

Package: xivo-upgrade
Architecture: any
Depends: ${misc:Depends}, aptitude, monit
Description: XiVO upgrade tools
 This package provide XiVO upgrading tools
