Source: xivo-upgrade
Section: admin
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://xivo.io/

Package: xivo-upgrade
Architecture: all
Depends: ${misc:Depends}, aptitude, monit, python-psycopg2, xivo-lib-python
Description: XiVO upgrade tools
 This package provide XiVO upgrading tools
